.form {
  max-width: 350px;
  padding: 36px;
  margin: 0 auto;
  color: #2e2f42;
}

.form > label {
  display: block;
  text-align: start;
  letter-spacing: 0.05em;
}

.delay-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;

  &:hover {
    border-color: #000000;
  }
}

fieldset {
  display: flex;
  justify-content: space-around;
  margin-bottom: 34px;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  border: 1px solid #808080;
  border-radius: 8px;

  &:hover {
    border-color: #000000;
  }
}

/* legend {
  letter-spacing: 0.04em;
  align-content: flex-start;
} */

.radio-input {
  accent-color: #ff4e5d;
}

.form-btn {
  display: inline-block;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  &:hover,
  &:focus {
    background-color: #6c8cff;
  }
}
